# Не публиковать примеры приложений
/kassa-app

# Не публиковать документацию (если она не нужна в пакете)
/docs

# Не публиковать конфигурационные файлы Git и npm
.gitignore
.npmignore

# Файлы, специфичные для CI/CD или локальной разработки
*.md
!README.md

# Локальные конфигурации редакторов
.vscode/
.idea/